localhost/posts {
log stdout
proxy / 127.0.0.1:5000 127.0.0.1:5001 127.0.0.1:5002 {
  transparent
  policy round_robin
}
}

localhost/votes {
log stdout
proxy / 127.0.0.1:5100 127.0.0.1:5101 127.0.0.1:5102 {
  transparent
  policy round_robin
}
}
